<?xml version="1.0"?>
<!-- Copyright Technophobia.Ltd 2012 -->
<plugin>
   <extension-point id="substepsRunListeners" name="Substeps Run Listeners" schema="schema/substepsRunListeners.exsd"/>
   <extension
         point="com.technophobia.substeps.editor.folderMonitorSubsteps">
      <observer
            class="com.technophobia.substeps.junit.launcher.model.UpdateRunConfigurationOnSubstepsFolderChange">
      </observer>
   </extension>
	<extension
         point="org.eclipse.ui.views">
      <view
            name="%View.label"
            icon="icons/full/eview16/substeps.gif"
            category="org.eclipse.jdt.ui.java"
            fastViewWidthRatio="0.40"
            class="com.technophobia.substeps.junit.ui.SubstepsFeatureTestRunnerViewPart"
            id="com.technophobia.substeps.runner.SubstepsResultView">
      </view>
   </extension>
  
  <extension
        point="org.eclipse.ui.bindings">
        
    <key
            sequence="M2+M3+X F"
            commandId="com.technophobia.substeps.junit.substepsFeatureShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
        
    <command
            name="%SubstepsFeatureShortcut.description.run"
            description="%SubstepsFeatureShortcut.description.run"
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.technophobia.substeps.junit.substepsFeatureShortcut.run">
      </command>
      <command
            name="%SubstepsFeatureShortcut.description.rerunLast"
            description="%SubstepsFeatureShortcut.description.rerunLast"
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.technophobia.substeps.junit.rerunLast">
      </command>
      <command
            name="%SubstepsFeatureShortcut.description.rerunFailedFirst"
            description="%SubstepsFeatureShortcut.description.rerunFailedFirst"
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.technophobia.substeps.junit.rerunFailedFirst">
      </command>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
     	   label="%SubstepsFeatureShortcut.label"
     	   icon="icons/full/eview16/substeps.gif"
           helpContextId="org.eclipse.jdt.junit.launch_shortcut"
           class="com.technophobia.substeps.junit.launcher.SubstepsFeatureLaunchShortcut"
           modes="run, debug"
           id="com.technophobia.substeps.junitShortcut">
        <contextualLaunch>
           <enablement>
             <with
                   variable="selection">
                   <count
                      value="1">
                </count>
                 <iterate>
                   
                <and>
                   <adapt type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.projectNature"
                            value="com.technophobia.substeps.editor.substepsNature">
                      </test>
                   </adapt>
                   <or>
                      <adapt type="org.eclipse.core.resources.IFile">
                      	<test
                                  property="org.eclipse.debug.ui.matchesPattern"
                                  value="*.feature">
                            </test>
                      </adapt>
                   	  <adapt
                               type="org.eclipse.core.resources.IContainer">
                               
                        	<test forcePluginActivation="true" value="true" property="com.technophobia.substeps.testlauncher.feature.isFeatureFolder">
                        	</test>                           
                      </adapt>
                      <adapt
                               type="org.eclipse.jdt.core.IPackageFragment">
                               
                        	<test forcePluginActivation="true" value="true" property="com.technophobia.substeps.testlauncher.feature.package.isFeatureFolder">
                        	</test>                           
                      </adapt>
                   </or>
                </and>
                </iterate>
             </with>
          </enablement>
        </contextualLaunch>
        <configurationType
             id="com.technophobia.substeps.junit.launchconfig">
       </configurationType>
       <description
             description="%DebugJUnitLaunchShortcut.description"
             mode="debug">
       </description>
       <description
             description="%RunJUnitLaunchShortcut.description"
             mode="run">
       </description>
     </shortcut>
  </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      
      <launchConfigurationType
            delegate="com.technophobia.substeps.junit.launcher.SubstepsLaunchConfigurationDelegate"
            delegateDescription="%SubstepsFeatureLaunchDelegate.description"
            delegateName="%SubstepsFeatureLaunchDelegate.name"
            id="com.technophobia.substeps.junit.launchconfig"
            migrationDelegate="com.technophobia.substeps.junit.launcher.migration.SubstepsMigrationDelegate"
            modes="run, debug"
            name="%Launch.label"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/eview16/substeps.gif"
            configTypeID="com.technophobia.substeps.junit.launchconfig"
            id="com.technophobia.substeps.junit.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.technophobia.substeps.junit.launchconfig"
            helpContextId="com.technophobia.substeps.feature_tab_group"
            class="com.technophobia.substeps.junit.launcher.SubstepsTabGroup"
            id="com.technophobia.substeps.launchConfigurationTabGroup">
         <launchMode
               perspective="org.eclipse.debug.ui.DebugPerspective"
               description="%SubstepsFeatureTabGroupDescription.debug"
               mode="debug">
         </launchMode>
         <launchMode
               description="%SubstepsFeatureTabGroupDescription.run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.jdt.junit.junitLaunchConfigs">
      <launchConfigType
            configTypeID="com.technophobia.substeps.junit.launchconfig">
      </launchConfigType>
   </extension>
   <extension
         point="com.technophobia.substeps.testlauncher.substepsRunListeners">
      <substepsRunListener
            class="com.technophobia.substeps.junit.ui.UITestRunListener">
      </substepsRunListener>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.technophobia.substeps.junit.launcher.model.FeatureFolderPropertyTester"
            id="com.technophobia.substeps.testlauncher.isFeatureFolderPropertyTester"
            namespace="com.technophobia.substeps.testlauncher.feature"
            properties="isFeatureFolder"
            type="org.eclipse.core.resources.IContainer">
      </propertyTester>
      <propertyTester
            class="com.technophobia.substeps.junit.launcher.model.FeatureFolderPropertyTester"
            id="com.technophobia.substeps.testlauncher.isFeaturePackageFolderPropertyTester"
            namespace="com.technophobia.substeps.testlauncher.feature.package"
            properties="isFeatureFolder"
            type="org.eclipse.jdt.core.IPackageFragment">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
	  <factory class="org.eclipse.core.runtime.IAdaptable"
	           adaptableType="org.eclipse.core.resources.IResource">
	     <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
	  </factory>
	</extension>
  
</plugin>
