<?xml version="1.0"?>
<!-- Copyright Technophobia.Ltd 2012 -->
<plugin>
	<!--extension
        point="org.eclipse.ui.actionSets">
     <actionSet
           id="com.technophobia.substeps.actionSet1"
           label="Hello World"
           visible="true">
        <action
              class="com.technophobia.substeps.actions.HelloWorldAction"
              icon="src/main/resources/feature_file.gif"
              id="com.technophobia.substeps.actions.HelloWorldAction"
              label="Hello World"
              style="push"
              toolbarPath="Normal"
              tooltip="Hello World">
        </action>
     </actionSet>
     <actionSet
           description="Formatting"
           id="org.eclipse.jdt.ui.CodingActionSet"
           label="Formatting"
           visible="true">
        <action
              definitionId="org.eclipse.jdt.ui.edit.text.java.format"
              id="org.eclipse.jdt.ui.actions.Format"
              label="Format"
              menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
              retarget="true">
        </action>
     </actionSet>
  </extension-->
  <extension
        id="substeps_product"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="Substeps">
        <property
              name="windowImages"
              value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
        </property>
        <property
              name="aboutText"
              value="%productBlurb">
        </property>
        <property
              name="aboutImage"
              value="eclipse_lg.gif">
        </property>
        <property
              name="startupForegroundColor"
              value="C8D5EA">
        </property>
        <property
              name="startupProgressRect"
              value="0,280,455,15">
        </property>
        <property
              name="startupMessageRect"
              value="7,220,441,20">
        </property>
        <property
              name="appName"
              value="Substeps">
        </property>
        <property
              name="preferenceCustomization"
              value="plugin_customization.ini">
        </property>
     </product>
  </extension>
  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="com.technophobia.substeps.editor.FeatureEditor"
           contributorClass="com.technophobia.substeps.editor.FeatureEditorActionContributor"
           default="true"
           filenames="*.feature"
           icon="src/main/resources/feature_file.gif"
           id="com.technophobia.substeps.editor.featureEditor"
           name="FeatureFileEditor">
     </editor>
     <editor
           class="com.technophobia.substeps.editor.SubstepsEditor"
           contributorClass="com.technophobia.substeps.editor.FeatureEditorActionContributor"
           default="true"
           filenames="*.substeps"
           icon="src/main/resources/feature_file.gif"
           id="com.technophobia.substeps.editor.substepsEditor"
           name="SubstepsFileEditor">
     </editor>
  </extension>
  <extension
 point="org.eclipse.ui.menus">
</extension>
  <extension
        point="org.eclipse.ui.bindings">
        
  	<key
            sequence="M1+M2+F"
            commandId="com.technophobia.substeps.feature.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   <key
         commandId="com.technophobia.substeps.editor.navigate.to.substep.definition"
         contextId="com.technophobia.substeps.editor.SubstepsContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F3">
   </key>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
        
    <command
          defaultHandler="com.technophobia.substeps.document.formatting.FeatureFormatterHandler"
          id="com.technophobia.substeps.feature.format"
          name="Format">
      </command>
    <command
          defaultHandler="com.technophobia.substeps.document.navigation.JumpToSubStepDefinitionHandler"
          id="com.technophobia.substeps.editor.navigate.to.substep.definition"
          name="NavigateToSubstepDefinition">
    </command>
  </extension>
  <extension
        point="org.eclipse.ui.contexts">
     <context
           description="Substeps editor context"
           id="com.technophobia.substeps.editor.SubstepsContext"
           name="com.technophobia.substeps.editor.SubstepsContext"
           parentId="org.eclipse.ui.contexts.window">
     </context>
  </extension>
</plugin>
