<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright Technophobia Ltd 2012
  
  This file is part of the Substeps Eclipse Plugin.
  
  The Substeps Eclipse Plugin is free software: you can redistribute it and/or modify
  it under the terms of the Eclipse Public License v1.0.
  
  The Substeps Eclipse Plugin is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  Eclipse Public License for more details.
  
  You should have received a copy of the Eclipse Public License
  along with the Substeps Eclipse Plugin.  If not, see <http://www.eclipse.org/legal/epl-v10.html>.
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="trace" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	<appender name="rolling-file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="tests.log" />
		<param name="MaxFileSize" value="1000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="4" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %l - %m%n" />
		</layout>
	</appender>

	<category name="com.technophobia.substeps">
		<priority value="DEBUG" />
	</category>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="rolling-file"/>
	</root>
</log4j:configuration>
